/* utility */
.primary-btn {
   padding: 5px 10px;
}

.primary-btn i {
   font-size: 10px;
}
#watch {
   font-size: 10px;
   margin-left: 4px;
}

.secondary-btn i {
   padding: 1px 8px;
}

.secondary-btn a {
   font-size: 10px;
}
/* navbar */
.nav {
   padding: 10px;
}

.nav-container1 img:first-child {
   width: 55px;
   height: 30px;
}

.nav-list {
   display: none;
}

.scrolling-active .nav {
   height: 50px;
   margin-top: 0px;
}

/* hero */

.hero {
   width: 100%;
   height: 40vh;
   background: url('../img/showcase.jpg') center no-repeat;
   background-size: cover;
   position: relative;
   z-index: 5;
}

.hero p {
   font-size: 10px;
   color: #fff;
   text-decoration: none;
   font-weight: 400;
   opacity: 0.9;
   text-shadow: 2px 2px 4px rgb(0 0 0 / 45%);
   line-height: normal;
   margin-bottom: 1rem;
}

.showcase-logo {
   margin-top: 40px;
   height: 80px;
   width: 100px;
}

.showcase-logo-container {
   margin-left: 10px;
}

.showcase-logo-container h3 {
   font-size: 8px;
   margin-bottom: 4px;
}

/* content */

.demo-content {
   height: 175vh;
}

.content-container {
   margin: 0px 30px;
   margin-bottom: 0px;
}

.content-container img:last-child {
   display: none;
}

.content-img {
   width: 155px;
   height: 100px;
   margin-bottom: 10px;
   margin-right: 0;
}

/* footer */
footer {
   height: 55vh;
}
.footer-container {
   padding-left: 20px;
}

.footer-container .footer-links .footer-links-wrapper {
   list-style: none;
   margin: 10px 20px;
   width: 135px;
   height: 15px;
}
